<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Attendance</h1>
    <form>
        <input maxlength="100" type="text" name="name" placeholder="Name" required>
        <button type="submit">Send</button>
    </form>
    <div id="response"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
